---
interface Props {
  list: {
    title: string;
    description: string;
  }[];
  className?: string;
}

const { list, className } = Astro.props;
---


<ul class:list={["flex flex-col gap-8 lg:h-full lg:justify-between", className]}>
  {
    list.map((item) => {
      return (
        <li class="reveal-bottom before:w-2 relative pl-5">
          <div class="absolute left-0 top-0 w-[4px] h-full  bg-gradient-to-b from-green-200 to-blue-300"></div>
          <div class="grid gap-4">
            <div>
              <img src="/icons/generic-icon.svg" class="w-8 min-w-8" />
            </div>
            <div class="headline-regular-5">{item.title}</div>
            <div class="paragraph-3 text-neutral-x500">{item.description}</div>
          </div>
        </li>
      );
    })
  }
</ul>
