---
import Card from "./components/Card.astro";
---

<section class="container mx-auto px-6 mt-12 lg:mt-16">
  <div>
    <h3 class="headline-regular-3 lg:headline-medium-2">Implementação 
      <span class="gradient-horizontal-dark">
        simples <span class="gradient-neutral-x600">e</span> rápida
      </span> em 3 passos
    
    </h3>
  </div>
  <div class="mt-10 grid grid-cols-1 gap-6 lg:gap-12 lg:grid-cols-3">
    <div class="reveal-left">
      <Card  
        title="01"
        description="Nossa equipe fará uma análise de necessidades para identificar as soluções e integrações adequadas para o contexto."
      />
    </div>
    <div class="reveal-bottom">
      <Card  
        title="02"
        description="A integração da arquitetura PIX é feita ao seu sistema, com eficiência, agilidade e foco na segurança de seus dados."
      />
    </div>
    <div class="reveal-right">
      <Card  
        title="03"
        description="Comece a receber seus pagamentos de forma instantânea, mantendo suas finanças sempre atualizadas."
      />
    </div>
  </div>
</section>
