---
import Steps from "@/components/Steps.astro";
---

<section class="container mx-auto px-6 mt-14 lg:mt-40">
  <div class="grid grid-cols-1 gap-14 lg:grid-cols-3">
    <div class="grid grid-cols-1 text-left">
      <div class="headline-regular-3 lg:headline-regular-2 inline">
        Desfrute dos benefícios
        <span class="gradient-horizontal-light inline">
          exclusivos 
          <span class="gradient-neutral-x600 inline">para seu</span>
          negócio
        </span>
      </div>
      <p class="paragraph-3 lg:paragraph-2 mt-6 lg:mt-8 text-neutral-x500">
        Descubra como nossa solução pode impulsionar seu negócio, proporcionando agilidade, controle e economia. Simplificamos os pagamentos para que você possa se concentrar no que realmente importa: o crescimento.
      </p>
    </div>

    <div>
      <div class="max-w-[354px] mx-auto">
        <img src="/img/benefits/image-benefits.png" class="w-full" />
      </div>
    </div>

    <div>
      <div class="mt-4 lg:pl-0 lg:mt-0">
        <Steps
          list={[
            {
              title: "Compensação Bancária Instantânea",
              description: "Receba seus pagamentos no mesmo instante em que são feitos, sem esperas",
            },
            {
              title: "Integração com Conciliação Financeira",
              description: "Mantenha suas finanças atualizadas em tempo real, com integração perfeita.",
            },
            {
              title: "Implantação com Custo Mínimo",
              description: "Inicie sem grandes investimentos, com uma implantação acessível.",
            },
            {
              title: "Emissão de Cobranças a Custos Reduzidos",
              description: "Reduza drasticamente os custos em comparação com boletos tradicionais.",
            }
          ]}
        />
      </div>
    </div>
  </div>
</section>
