---
import Logo from "../../components/Logo.astro";
---

<footer class="bg-neutral-x600 text-neutral-x300">
  <div class="container mx-auto px-6 py-12">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-5">
      <div class="lg:col-span-2">
        <Logo variation="white" />

        <p class="paragraph-2 lg:max-w-[438px] mt-6 text-neutral-x400">
          Com resultados consistentes e taxas de transação eficientes, nossa crescente comunidade reflete nosso compromisso com a excelência. Junte-se a nós e descubra como estamos revolucionando o cenário dos pagamentos digitais.
        </p>

        <div class="grid grid-cols-1 mt-6 lg:mt-10 gap-2 text-neutral-x400">
          <p class="paragraph-2">CNPJ: 33.958.282/0001-93</p>
          <p class="paragraph-2">© 2023 Up Câmbio - Todos os direitos reservados</p>
        </div>

      </div>

      <div class="grid-cols-1 lg:col-span-2 grid lg:ml-auto">
        <div class="lg:w-fit">
          <div class="label-2">Engereço</div>
          <div class="mt-4 text-neutral-x400">
            <div class="paragraph-2">Av. Therezinha Pauletti Sanvitto, N° 208 - CJ Sanvitto, Caxias do Sul - RS</div>
          </div>
        </div>

        <div class="lg:w-fit">
          <div class="label-2">Contato</div>

          <div class="mt-4 text-neutral-x400">
            <div class="paragraph-2">
              <a class="link-1" href="tel:(11) 5050-4040">(11) 5050-4040</a>
            </div>
            
            <div class="paragraph-2">
              <a class="link-1" href="mailto:contato@upcambio.com.br">contato@upcambio.com.br</a>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:ml-auto">
        <div class="label-2">Redes sociais</div>

        <div class="mt-4 flex flex-col gap-4 lg:w-fit">
          <a class="bg-neutral-x100 flex gap-3 w-fit px-4 py-2 rounded-lg" target="_blank" href="https://www.instagram.com/upcambio_exchange/">
            <img class="w-6 h-6" src="/img/footer/instagram.svg" >
            <p class="text-neutral-x600 text-base font-semibold">Siga-nos</p>
          </a> 
          
          <a class="bg-neutral-x100 flex gap-3 w-fit px-4 py-2 rounded-lg" target="_blank" href="https://api.whatsapp.com/send?phone=5511912345678&amp;text=MESSAGE_PLACEHOLDER">
            <img class="w-6 h-6" src="/img/footer/whatsapp.svg" >
            <p class="text-neutral-x600 text-base font-semibold">Enviar mensagem</p>
          </a>
          
        </div>
      </div>

    </div>
    <div class="divider before:bg-[#5E7477] after:bg-[#5E7477]"></div>
    <ul class="flex flex-row gap-5 text-neutral-x300 label-3">
      <li>
        <a target="_blank" href="https://upcambio.com/TERMOS_DE_USO_URL">Termos de uso</a>
      </li>
      <li>
        <a target="_blank" href="https://upcambio.com/POLITICA_DE_PRIVACIDADE">Politica de privacidade</a>
      </li>
    </ul>
  </div>
</footer>
