---
import Title from "./components/Title/Index.astro";
---

<section class="container mx-auto px-6">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="reveal-left flex items-center">
      <Title />
    </div>

    <div class="reveal-bottom mt-8">
      <div class="relative mx-auto w-full max-w-[590px]">
        <img
          class="reveal-bottom relative"
          src="/img/hero/hero-image.png"
        />
      </div>      
    </div>
  </div>
</section>
