---
import Collapse from "../../components/Collapse.astro";
---

<section
  class="container mx-auto px-6 mt-12 lg:mt-40"
  id="faq"
>
  <div class="">
    <h3 class="headline-regular-2 w-full text-center">Ainda com dúvidas?</h3>
    <div class="mx-auto mt-4 text-center paragraph-2">
      Confira abaixo as perguntas mais frequentes de nossos clientes e suas respostas.    </div>

      
    <div class="mx-auto mt-16 max-w-4xl">
      <Collapse
        topics={[
          {
            title: "Como é feita a integração da arquitetura PIX com a minha plataforma de recebimentos?",
            descriptions: "A integração ocorre de forma personalizada através de nossa API, garantindo uma transição suave."
          },
          {
            title: "Posso utilizar o PIX para recebimentos estáticos e dinâmicos ao mesmo tempo?",
            descriptions: "Sim, nossa solução permite a emissão de PIX estáticos e dinâmicos conforme suas necessidades."
          },
          {
            title: "Existe um limite de transações para utilizar o serviço?",
            descriptions: "Não há limites, mas recomendamos o serviço para empresas que emitem pelo menos mil boletos mensais."
          },
          {
            title: "Quais medidas de segurança são implementadas para proteger as transações?",
            descriptions: "Utilizamos protocolos avançados, monitoramento em tempo real e backup redundante para garantir a segurança das transações."
          },
          {
            title: "Como a conciliação financeira é realizada em tempo real?",
            descriptions: "Nossa plataforma realiza a conciliação de forma automática, mantendo seus registros sempre atualizados."
          },
          {
            title: "Quais são as principais vantagens em relação aos boletos tradicionais?",
            descriptions: "Compensação instantânea, integração eficiente, controle total nos recebimentos e custos reduzidos."
          },
        ]}
      />
    </div>
  </div>
</section>
