---
export interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<div class="min-h-[224px] flex flex-col gap-6 bg-neutral-x200 p-8 rounded-2xl">
  <div class="headline-medium-1 text-primary-x300">{title}</div>
  <div class="paragraph-3 text-neutral-x500">{description}</div>
</div>


