---
import { appendToUrlContact } from '@/contansts/index'
const URL_CONTACT = appendToUrlContact('')
---

<div class="grid grid-cols-1 text-left">
  <div class="headline-regular-3 lg:headline-regular-2">
    Como nossa solução transforma seus <span class="gradient-horizontal-dark">pagamentos</span>
  </div>
  <p class="paragraph-3 lg:paragraph-2 mt-6 lg:mt-8 text-neutral-x500">
    Transforme seus recebimentos e simplifique suas finanças com a eficiência do PIX. Pagamentos instantâneos, seguros e sem complicações.
  </p>
</div>
