---
import FormContact from "./FormContact.astro";
---

<section class="bg-primary-x300 py-10 lg:py-20 mt-10 lg:mt-20">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="text-neutral-x100 max-w-[489px]">
        <h3 class="headline-regular-3 lg:headline-regular-2">Liberte-se da burocracia dos meios de pagamentos tradicionais. Entre em contato agora.</h3>
        <div class="paragraph-3 lg:paragraph-1 mt-6">Deixe para trás a complexidade dos métodos tradicionais. Estamos aqui para simplificar seus recebimentos. Preencha o formulário ao lado e descubra como a eficiência do PIX pode impulsionar o seu negócio</div>
      </div>

      <div class="lg:flex lg:justify-end mx-auto">
        <div class="max-w-[548px] w-full lg:h-full">
          <FormContact />
        </div>
      </div>
    </div>
  </div>
</section>
