---
import Title from "./components/Title/Index.astro";
---

<section class="container mx-auto px-6 mt-8 lg:mt-20">
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    <div class="reveal-left max-w-[512px]">
      <Title />
    </div>

    <div class="reveal-bottom">
      <div class="relative mx-auto w-full max-w-[640px]">
        <img
          class="reveal-bottom relative"
          src="/img/solutions/main-image.png"
        />
      </div>      
    </div>
  </div>
</section>
