---
import Steps from "@/components/Steps.astro";

---

<section class="container mx-auto px-6 mt-12 lg:mt-40">
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:mb-4">
    <div class="lg:order-2 max-w-[588px] lg:mx-auto">
      <div>
        <h3 class="headline-regular-3 lg:headline-regular-2 gradient-horizontal-light">
          Segurança 
          <span class="gradient-neutral-x600">que você pode</span>
          confiar
        </h3>
        <div class="paragraph-3 lg:paragraph-2 mt-6">Mantenha suas transações seguras com tecnologia PIX avançada. Confira alguns dos principais pontos de segurança:</div>
      </div>
      <Steps
          className="mt-10"
          list={[
            {
              title: "Protocolos Avançados",
              icon: '/img/security/icon01.svg',
              description: "Utilizamos os mais modernos protocolos de segurança.",
            },
            {
              title: "Conciliação Confiável",
              icon: '/img/security/icon02.svg',
              description: "Nossa plataforma oferece uma conciliação precisa e confiável.",
            },
            {
              title: "Monitoramento em Tempo Real",
              icon: '/img/security/icon03.svg',
              description: "Garantimos um monitoramento constante para identificar e responder rapidamente a qualquer atividade suspeita.",
            },
          ]}
        />
    </div>
    <div class="lg:order-1 mt-8 lg:mt-0 reveal-bottom">
      <img src="/img/security/main-security.png" class="max-w-[540px] w-full mx-auto lg:mr-auto lg:ml-0" >
    </div>
  </div>
</section>
  